<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICSVExportService" 
                 maxReceivedMessageSize="20000000"
                 maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32"
               maxArrayLength="200000000"
               maxStringContentLength="200000000"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/CSVExportService/CSVExportService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICSVExportService"
        contract="CSVExportService.ICSVExportService" name="WSHttpBinding_ICSVExportService">
        <identity>
          <servicePrincipalName value="host/2A314-B02.conestogac.on.ca" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>