<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="tableSection"
              type="DynamicQuery.CustomConfiguration.TableSection" 
              allowLocation="true" 
              allowDefinition="Everywhere"/>
  </configSections>
  <!-- Add source tables here. -->
  <tableSection>
    <tables>      
      <!-- This is an example using the "Northwind" database's table "Orders". -->
      <add name="Orders">  
        <!-- Add the selected columns here. 
              The columns element is entirely optional. -->  
        <columns>
            <add name="OrderID" />
            <add name="CustomerID"/>
            <add name="EmployeeID"/>
            <add name="OrderDate"/>
            <add name="RequiredDate"/>
            <add name="ShippedDate"/>
            <add name="ShipVia"/>
            <add name="Freight"/>     
            <add name="ShipName"/>
            <add name="ShipAddress"/>
            <add name="ShipCity"/>
            <add name="ShipRegion"/>
            <add name="ShipPostal"/>
            <add name="ShipCountry"/>
          </columns>
      </add>
    </tables>
  </tableSection>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <!-- Add Database connection strings here -->
  <connectionStrings>
    <!-- Database connection example -->
    <add name="Northwind" providerName="System.Data.SqlClient"
         connectionString="Server=AARON-LAPTOP\SQLEXPRESS;Database=Northwind;User Id=sa;Password=Timsap@iit147"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
    
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="wsHttpBinding" scheme="http" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
