<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IqbExportService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IqbExportService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/qbExportService/qbExportService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IqbExportService"
        contract="qbExportService.IqbExportService" name="WSHttpBinding_IqbExportService">
        <identity>
          <servicePrincipalName value="host/Aaron-laptop" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>